= render "content_items/index_collection"

- content_for(:contextual_sidebar) do
  - if @rejected.present?
    = t(".only_active_lists_hint")

  = render :layout => "shared/index/filter" do
    = render :partial => "shared/index/filter_by_project"
