%ul.unstyled.content-items.content-overview{:"data-filter-query" => @filter_query}
  - collection.map(&:content_item).each do |content_item|
    = render :partial => "content_items/show", :locals => {:content_item => content_item}


- content_for(:contextual_sidebar) do
  - if @rejected.present?
    = t(".only_active_lists_hint")

  = render :layout => "shared/index/filter" do
    = render :partial => "shared/index/filter_by_project"
