#new-project-modal.modal{:style => "display: none;"}
  .modal-header
    %a.close{:"data-dismiss" => "modal"} &times;
    %h3= t("shared.index.modal.new_project_title")
  .modal-body
    = render "projects/form", :resource => Project.new
  .modal-footer
    = buttons Project.new
