
#quick-jump-template.quick-jump-modal.modal{:style => "display: none;"}
  .modal-header
    %a.close{:"data-dismiss" => "modal"} &times;
    %input.xlarge{:type => "text", :name => "query", :autocapitalize => "off", :autocomplete => "off", :autocorrect => "off"}
  .modal-body
    .form-wrapper
      .form
        .results
  .modal-footer.modal-footer-small

:javascript
  OUT.quick_jump_modal_defaults = #{default_quickjump_targets.to_json}
  OUT.quick_jump_projects_defaults = #{default_quickjump_projects.to_json}
  OUT.quick_jump_pages_defaults = #{default_quickjump_pages.to_json}