#new-page-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => :modal} &times;
    %h3 Create new page
  .modal-body
    = render "form"

- content_for(:page_header) do
  = link_to t(".new_page_link"), {:action => :new}, :class => "btn success", :"data-toggle" => :modal, :"data-target" => "#new-page-modal"

= render "bulk_collection"

- content_for(:contextual_sidebar) do
  = render "shared/index/filter"
