%ul.unstyled.content-items{:class => "content-#{resource.class.to_s.underscore.dasherize}"}
  = rendered

.page-item
  .page-item-inner
    .back= link_to "&laquo; Back".html_safe, resource.outer_content.holder, :class => "btn"
