%ul.unstyled.content-items.content-overview{:"data-highlight-query" => @filter_query}
  - collection.map(&:content_item).each do |content_item|
    = render :partial => "content_items/show", :locals => {:content_item => content_item}
  - if collection.blank?
    = render "content/blank_slate"
