- if current_project
  - content_for(:contextual_sidebar) do

    - if links = favorite_project_links.presence
      %ul.nav.nav-list
        %li.nav-header Pinned Links
        - links.each do |link|
          %li= link_to truncate(link.title, :length => 20), link.href
