#new-project-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => :modal} &times;
    %h3 Create new project
  .modal-body
    = render "form"

- content_for(:page_header) do
  = link_to t(".new_project_link"), {:action => :new}, :class => "btn success", :"data-toggle" => "modal", :"data-target" => "#new-project-modal"

= render "bulk_collection"

- content_for(:contextual_sidebar) do
  = render "shared/index/filter"
