%h5= link_to inline_user_text(resource.title.presence || resource.href_without_protocol), resource.href, {:rel => :external, :class => :external}
%small= link_to resource.href, resource.href, {:rel => :external, :class => :external}

- if resource.text.present?
  %p= user_text resource.text