= simple_form_for(resource) do |form|
  %input{:type => :hidden, :name => "return-to", :value => url_for(params)}
  = form.input :title
  .control-group
    %label.control-label Style
    .controls
      - [nil, :red, :green, :blue].each do |style|
        %label.radio.inline
          %input{:type => :radio, :name => "tag[style]", :value => style, :checked => resource.style.to_s == style.to_s ? :checked : nil}
          %span{:class => "tag tag-active tag-#{style}"}= resource.title
  = form.buttons
