.container.dashboard
  .row
    .span4
      %h2 Projects
      .row
        - favorite_projects.each do |resource|
          .span2.dashboard-project
            = link_to resource.title, resource
    .span4
      %h2 Pages
      .row
        - favorite_pages.each do |resource|
          .span2.dashboard-page
            = link_to resource.title, resource
    .span4
      %h2 Todo Lists
      .row
        - favorite_todo_lists.each do |todo_list|
          .span4.dashboard-todo-list
            .well.todo-list
              = render :partial => "todo_lists/show", :locals => {:resource => todo_list}
