!!! 5
%html
  =render themed(:head)

  %body
    = render themed(:topbar)
    .content-container
      = render themed(body_template)
    = render themed(:footer)
    = render "shared/quickjump_modal"