!!! 5
%html
  =render themed(:head)

  %body
    %div{:class => controller_name.dasherize + '-controller'}
      %div{:class => action_name.dasherize + '-action'}
        = render themed(:topbar)
        #content-container
          = render themed(body_template)
        = render themed(:footer)
    = render "shared/quickjump_modal"