!!! 5
%html.login
  =render themed(:head)

  %body.login
    .container
      .row
        .span6.offset3
          .content
            .page-wrapper
              = yield
    = render themed(:footer)