// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-items
  .activity-item
    padding-bottom: 20px

    .activity-action,
    .activity-title,
    .activity-body
      margin-left: 20px
    .activity-action
      small
        font-size: 11px
        color: #999
        a
          color: #666
          text-decoration: none
          &:hover
            color: #000
            text-decoration: underline
    .activity-title
      a
        color: #333
        text-decoration: none
        font-weight: bold
        border-bottom: 1px solid #ccc
        &:hover
          border-bottom-color: #333
      small
        color: #999
        a
          font-weight: normal
          color: #666
          text-decoration: none
          border-bottom: none
          &:hover
            color: #000
            text-decoration: underline
    .activity-body
      border-left: 3px solid #eee
      padding: 10px
      margin-top: 10px
