#bulk_collection

  small.bulk-options
    display: block
    border-bottom: 1px solid #aaa
    padding: 20px 10px 5px 10px
    
    span.select_all
      float: right
    span.select
      float: left
      color: #aaa
      a
        background-color: #ddd
        border-top-left-radius: 4px
        border-top-right-radius: 4px
        text-decoration: none
        color: #000
        padding: 4px 4px
      
        &.danger
          color: #f00
          background-color: transparent
          text-decoration: underline
  .bulk-options-helper
    border: 1px solid #fff
    border-bottom: 1px solid #aaa
  .collection
    .entry
      height: 48px
      padding: 8px
      border-bottom: #aaa

      border-bottom: 1px solid #EDEDED
      
      &.active
        background-color: #ffe
        border-bottom: 1px solid #fc0
      
      div
        &.item_wrapper
          padding-top: 10px
          padding-bottom: 10px
        
        &.checkbox,
        &.text
          float: left
        
        &.checkbox
          padding: 8px
          float: left
          input
            margin: 0
          label
            min-width: 16px
            height: 18px
            padding: 4px 4px 4px 5px
            float: none
            width: auto
            cursor: pointer

        
        &.text
          padding-top: 7px
          padding: 8px
          float: left

          small a
            color: #aaa
          
          a.item
            font-size: 14px
            line-height: 24px
            font-weight: bold
            strong
              background-color: #ffa
            
          
          div.item_labels
            margin-top: 6px

form#bulk_form
  margin-bottom: 0