// Place all the styles related to the content_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-item
  border-bottom: 1px solid #DDD
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

  margin-bottom: 10px
  .content-item-inner
    padding: 10px
  .content-item-options
    float: right
  .content-item-body
    font-size: 14px
  .content-item-info
    color: #BFBFBF