// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-add-content-item-form
  form.note
    &.active
      div.actions
        display: block
      textarea
        height: 100px!important
    div.text
      label
        display: none
      div.input
        margin: 0
        textarea
          width: 400px
          height: 32px
    div.actions
      display: none