// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html.login
  background: url(login_bg.png)

body.login
  padding-top: 0

  #login-modal
    width: 460px
    margin-left: -230px
  
  footer
    position: fixed
    left: 50%
    bottom: 0
    width: 100%
    margin-left: -50%
    background: #EEE