// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-item-link
  a[rel=external]
    font-weight: bold

#top-add-content-item-form
  form.link
    label
      display: none
    div.controls
      margin: 0
      input
        width: 98%
        border-color: transparent
        -webkit-box-shadow: none

        &:focus
          border-color: transparent
          -webkit-box-shadow: none

.content-item-link
  .content-item-body
    .text,
    .thumb
      margin-top: 10px
    .text
      h2
        line-height: 16px
      small.href
        a
          color: #aaa
          &:hover
            text-decoration: none

.content-item-link-with-thumb
  .content-item-body
    .text
      float: left
      width: 75%
    .thumb
      float: left
      img
        margin-right: 10px

form.link-edit
  .controls
    textarea
      height: 200px