
.projects-controller
  .show-action
    .page-header
      .header-title
        width: 75%
      .header-options
        width: 25%
      h1
        small
          display: block

.activity-items
  .activity-item-project
    span.activate
    span.deactivate
      text-decoration: line-through
