// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.tags
  li
    float: left
    margin-left: 4px
    &:first-child
      margin-left: 0

.page-header
  ul.tags
    float: right
    margin-right: 10px