// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-add-content-item-form
  form.todo_list
    label
      display: none
    div.controls
      margin: 0
      input
        width: 98%
        border-color: transparent
        -webkit-box-shadow: none

        &:focus
          border-color: transparent
          -webkit-box-shadow: none

.content-item-todo-list
  a.new
    font-size: 12px!important
    padding: 6px
    border-radius: 2px
    background: #eee
    color: #333
    text-decoration: underline

  .active-todos
    margin-top: 10px
    .content-items
      .content-item
        .content-item-body
        &.pending
          .todo-title
            text-decoration: line-through
            color: #aaa

  .inactive-todos
    margin-top: 20px
    .content-items
      .content-item
        .move-handle
          visibility: hidden
        padding-bottom: 0
        .content-item-body
          .todo-title
            font-size: 12px!important
            text-decoration: line-through
            color: #aaa
        &.pending
          .todo-title
            text-decoration: none
            color: inherit
    a.show_more
      font-size: 12px!important
      text-decoration: underline
      color: #aaa

.dashboard,
.sidebar
  .well
    margin-bottom: 10px
  .todo-list
    margin-top: 8px
    margin-bottom: 0
    .timestamp
      display: none
    h2
      border-bottom: 1px solid #EFEFEF
      border-bottom: 1px solid #ddd
      font-size: 13px
      line-height: 16px
    .content-item-details
      display: none
    .inactive-todos
      display: none
    .content-item
      padding-top: 4px
      padding-bottom: 0
      background: transparent
      &:hover
        .move-handle
          margin-left: -10px
          margin-top: 5px
        .content-item-options
          margin-left: -10px
          visibility: hidden
      .content-item-inner
        padding: 0
        padding-left: 10px
        a.new
          font-size: 11px
          text-decoration: underline
          color: inherit
        .todo-checkbox
          float: left
          width: 20px
        .todo-title
          float: left
          width: 80%