// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-items
  .activity-item-todo
    span.activate
    span.deactivate
      text-decoration: line-through

.content-todo-list
  .content-item-todo
    padding-top: 10px
    padding-bottom: 10px
    .spacer
      display: none
    .move-handle
      background: url(/assets/move-todo.png) top center no-repeat
      height: 20px
      margin-left: 14px!important
      margin-top: 12px
    .content-item-options
      width: 90px
      left: -60px
      top: 2px
      ul.nav.nav-pills
        margin: 0
        padding-left: 3px
        display: inline-block
        background: white
        border-radius: 5px

form.todo
  label
    display: none
  .controls
    margin-left: 0
    input
      width: 99%!important


