
html, body
  background-color: #f5f5f5

.navbar .nav > li > a
  font-weight: normal

.page-header,
.page-footer
  border-radius: 0
  border-top: none
  border-bottom: none

.page-wrapper,
.page-header
  margin-top: 0

.page-header,
.page-footer,
.page-item,
.content-item
  border-color: #eee

.nav-list li.active a,
.nav-list li.active a:hover
  background-color: #4183C4!important
